@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-color: #2d2c2c #000000;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* In your global CSS or Tailwind custom styles */
.scroll-smooth {
  scroll-behavior: smooth;
}

